@model dynamic
@{
    List<BAL.ViewModels.Event.GetLeaderboardResponse> leaderboard = Model.Leaderboard;
    ViewData["Title"] = "LeaderBoard Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Leaderboard</title>
    <link rel="stylesheet" href="~/css/leaderboard.css">
</head>
<body>
@*    <div class="leaderboard-container">
        <h1>Bird Leaderboard</h1>
        <table class="leaderboard">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Eagle</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Hawk</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Owl</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Robin</td>
                    <td>75</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Pigeon</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Sparrow</td>
                    <td>50</td>
                </tr>
            </tbody>
        </table>
    </div>*@
    <div class="leaderboard-container">
        <h1>Bird Leaderboard</h1>
        <table class="leaderboard">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Elo</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var bird in leaderboard)
                {
                    <tr>
                        <td>@bird.Rank</td>
                        <td>@bird.BirdName</td>
                        <td>@bird.Elo</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            referrerpolicy="no-referrer"></script>
    <!-- Jquery Waypoint -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <!-- BS4 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>