USE [master]
GO
drop DATABASE [BirdClub]
/****** Object:  Database [BirdClub]    Script Date: 1/9/2024 6:28:30 PM ******/
CREATE DATABASE [BirdClub]
USE [BirdClub]
GO
/****** Object:  Table [dbo].[Bird]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bird](
	[birdId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [nvarchar](50) NOT NULL,
	[birdName] [nvarchar](max) NOT NULL,
	[ELO] [int] NOT NULL,
	[age] [int] NULL,
	[description] [nvarchar](max) NULL,
	[color] [nvarchar](max) NULL,
	[addDate] [date] NULL,
	[profilePic] [nvarchar](max) NULL,
	[status] [nvarchar](max) NOT NULL,
	[origin] [nvarchar](max) NULL,
 CONSTRAINT [PK__Bird__C6DE0D21564B20FB] PRIMARY KEY CLUSTERED 
(
	[birdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BirdMedia]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdMedia](
	[pictureId] [int] IDENTITY(1,1) NOT NULL,
	[birdId] [int] NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK__BirdMedi__8C2866D8E5255F8B] PRIMARY KEY CLUSTERED 
(
	[pictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blogId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[category] [nvarchar](255) NULL,
	[uploadDate] [datetime] NOT NULL,
	[vote] [int] NOT NULL,
	[image] [varchar](max) NULL,
	[status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Blog__3B7E5742B9C74200] PRIMARY KEY CLUSTERED 
(
	[blogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClubInformation]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubInformation](
	[clubId] [int] IDENTITY(1,1) NOT NULL,
	[clubLocationId] [int] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[clubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClubLocation]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubLocation](
	[clubLocationId] [int] IDENTITY(1,1) NOT NULL,
	[clubName] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[locationId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[clubLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[commentId] [int] IDENTITY(1,1) NOT NULL,
	[blogId] [int] NULL,
	[vote] [int] NULL,
	[description] [nvarchar](max) NULL,
	[date] [date] NULL,
	[userId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[commentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contest]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contest](
	[contestId] [int] IDENTITY(1,1) NOT NULL,
	[contestName] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[registrationDeadline] [datetime] NULL,
	[locationId] [int] NULL,
	[status] [nvarchar](20) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[beforeScore] [int] NULL,
	[afterScore] [int] NULL,
	[fee] [decimal](10, 2) NULL,
	[prize] [decimal](12, 2) NULL,
	[host] [nvarchar](100) NULL,
	[incharge] [nvarchar](100) NULL,
	[note] [nvarchar](max) NULL,
	[review] [nvarchar](max) NULL,
	[numberOfParticipants] [int] NULL,
	[clubId] [int] NULL,
 CONSTRAINT [PK__Tourname__C456D729169E357B] PRIMARY KEY CLUSTERED 
(
	[contestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContestMedia]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContestMedia](
	[pictureId] [int] IDENTITY(1,1) NOT NULL,
	[contestId] [int] NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[pictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContestParticipants]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContestParticipants](
	[contestId] [int] NULL,
	[birdId] [int] NULL,
	[ELO] [int] NOT NULL,
	[participantNo] [nvarchar](50) NOT NULL,
	[checkInStatus] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContestScore]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContestScore](
	[scoreId] [int] IDENTITY(1,1) NOT NULL,
	[contestId] [int] NULL,
	[birdId] [int] NULL,
	[memberId] [int] NULL,
	[score] [decimal](5, 2) NULL,
	[scoreDate] [date] NULL,
	[comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[scoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[detail] [nvarchar](max) NULL,
	[date] [datetime] NULL,
	[category] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[feedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldTrip]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldTrip](
	[tripId] [int] IDENTITY(1,1) NOT NULL,
	[tripName] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NOT NULL,
	[registrationDeadline] [date] NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[locationId] [int] NULL,
	[status] [nvarchar](20) NULL,
	[fee] [decimal](10, 2) NULL,
	[numberOfParticipants] [int] NULL,
	[host] [nvarchar](100) NULL,
	[inCharge] [nvarchar](100) NULL,
	[note] [nvarchar](max) NULL,
	[review] [nvarchar](max) NULL,
 CONSTRAINT [PK__FieldTri__C1BEA5A2CBA40722] PRIMARY KEY CLUSTERED 
(
	[tripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldtripDaybyDay]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldtripDaybyDay](
	[tripId] [int] NOT NULL,
	[daybyDayID] [int] IDENTITY(1,1) NOT NULL,
	[day] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[pictureId] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldtripGettingThere]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldtripGettingThere](
	[tripId] [int] NOT NULL,
	[gettingThereId] [int] IDENTITY(1,1) NOT NULL,
	[gettingThereText] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldtripInclusions]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldtripInclusions](
	[tripId] [int] NOT NULL,
	[inclusionId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[inclusionText] [nvarchar](max) NOT NULL,
	[type] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldtripMedia]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldtripMedia](
	[pictureId] [int] IDENTITY(1,1) NOT NULL,
	[tripId] [int] NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[pictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldTripOverview]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldTripOverview](
	[tripId] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[duration] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[destination] [nvarchar](255) NOT NULL,
	[registrationDeadline] [date] NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[pictureId] [int] NULL,
	[userReview] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldTripParticipants]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldTripParticipants](
	[tripId] [int] NOT NULL,
	[memberId] [nvarchar](50) NOT NULL,
	[participantNo] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldtripRates]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldtripRates](
	[tripId] [int] NOT NULL,
	[rateId] [int] IDENTITY(1,1) NOT NULL,
	[rateType] [nvarchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gallery](
	[pictureId] [int] NULL,
	[description] [nvarchar](max) NULL,
	[userId] [int] NULL,
	[image] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[locationId] [int] IDENTITY(1,1) NOT NULL,
	[locationName] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Location__C6555721B7AAE234] PRIMARY KEY CLUSTERED 
(
	[locationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meeting]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meeting](
	[meetingId] [int] IDENTITY(1,1) NOT NULL,
	[meetingName] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[registrationDeadline] [datetime] NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[numberOfParticipants] [int] NULL,
	[host] [nvarchar](100) NULL,
	[incharge] [nvarchar](100) NULL,
	[note] [nvarchar](max) NULL,
 CONSTRAINT [PK__Meeting__1234DA4418E1FF0D] PRIMARY KEY CLUSTERED 
(
	[meetingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingMedia]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingMedia](
	[pictureId] [int] IDENTITY(1,1) NOT NULL,
	[meetingId] [int] NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[pictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingParticipant]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingParticipant](
	[meetingId] [int] NULL,
	[memberId] [nvarchar](50) NULL,
	[participantNo] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[memberId] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](255) NULL,
	[userName] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[gender] [nvarchar](10) NULL,
	[role] [nvarchar](50) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](20) NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[clubId] [int] NULL,
 CONSTRAINT [PK__Member__0CF04B18EBA8FD9D] PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[newsId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[newsContent] [nvarchar](max) NOT NULL,
	[uploadDate] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[picture] [varchar](max) NULL,
	[filepdf] [varchar](max) NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK__News__5218041EBB60A1A2] PRIMARY KEY CLUSTERED 
(
	[newsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[transactionId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[transactionType] [nvarchar](255) NULL,
	[value] [decimal](10, 2) NULL,
	[paymentDate] [date] NULL,
	[transactionDate] [date] NULL,
	[status] [nvarchar](255) NULL,
	[docNo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[transactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/9/2024 6:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [int] NOT NULL,
	[clubId] [int] NULL,
	[memberId] [nvarchar](50) NULL,
	[userName] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[role] [nvarchar](50) NULL,
 CONSTRAINT [PK__Users__CB9A1CFFCCE22DCC] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bird] ON 

INSERT [dbo].[Bird] ([birdId], [memberId], [birdName], [ELO], [age], [description], [color], [addDate], [profilePic], [status], [origin]) VALUES (1, N'1', N'Skylar', 1600, 2, N'A colorful and melodious bird with a distinctive red patch on its cheeks.', N'Red, Black, and White', CAST(N'2023-09-01' AS Date), N'red_whiskered_bulbul.jpg', N'Active', N'Northern India')
INSERT [dbo].[Bird] ([birdId], [memberId], [birdName], [ELO], [age], [description], [color], [addDate], [profilePic], [status], [origin]) VALUES (2, N'2', N'Ruby', 1500, 1, N'A young Red-whiskered Bulbul, still acquiring its adult plumage.', N'Brown and White', CAST(N'2023-09-02' AS Date), N'baby_red_whiskered_bulbul.jpg', N'Active', N'Nepal')
INSERT [dbo].[Bird] ([birdId], [memberId], [birdName], [ELO], [age], [description], [color], [addDate], [profilePic], [status], [origin]) VALUES (3, N'3', N'Indigo', 1750, 4, N'A mature Red-whiskered Bulbul singing melodiously in a garden.', N'Red, Black, and White', CAST(N'2023-09-03' AS Date), N'singing_bulbul.jpg', N'Active', N'Nepal')
SET IDENTITY_INSERT [dbo].[Bird] OFF
GO
SET IDENTITY_INSERT [dbo].[BirdMedia] ON 

INSERT [dbo].[BirdMedia] ([pictureId], [birdId], [description], [image]) VALUES (1, 1, N'Beautiful Red Bulbul in flight', N'/images/red_bulbul_flight.jpg')
INSERT [dbo].[BirdMedia] ([pictureId], [birdId], [description], [image]) VALUES (2, 1, N'Close-up of Red Bulbul feeding', N'/images/red_bulbul_feeding.jpg')
INSERT [dbo].[BirdMedia] ([pictureId], [birdId], [description], [image]) VALUES (3, 2, N'Red Bulbul pair on a branch', N'/images/red_bulbul_pair.jpg')
SET IDENTITY_INSERT [dbo].[BirdMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([blogId], [userId], [description], [category], [uploadDate], [vote], [image], [status]) VALUES (1, 101, N'Observations of Red-Whiskered Bulbuls in Central Park', N'Observations', CAST(N'2023-03-01T00:00:00.000' AS DateTime), 15, N'central_park_blog.jpg', N'Active')
INSERT [dbo].[Blog] ([blogId], [userId], [description], [category], [uploadDate], [vote], [image], [status]) VALUES (2, 102, N'Tips for Attracting Bulbuls to Your Garden', N'Gardening', CAST(N'2023-03-05T00:00:00.000' AS DateTime), 20, N'garden_tips_blog.jpg', N'Active')
INSERT [dbo].[Blog] ([blogId], [userId], [description], [category], [uploadDate], [vote], [image], [status]) VALUES (3, 103, N'The Beauty of Bulbul Nests: A Photo Journey', N'Photography', CAST(N'2023-03-10T00:00:00.000' AS DateTime), 25, N'nest_photo_blog.jpg', N'Active')
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[ClubInformation] ON 

INSERT [dbo].[ClubInformation] ([clubId], [clubLocationId], [Description]) VALUES (1, 1, N'The Red Bulbul Bird Club is dedicated to the study and conservation of Red Bulbuls in their natural habitat.')
INSERT [dbo].[ClubInformation] ([clubId], [clubLocationId], [Description]) VALUES (2, 2, N'Our club meets regularly at the Forest Watchpoint to observe and document the behavior of Red Bulbuls.')
INSERT [dbo].[ClubInformation] ([clubId], [clubLocationId], [Description]) VALUES (3, 3, N'Join us at the Conservation Hub to actively participate in our bird conservation initiatives and projects.')
SET IDENTITY_INSERT [dbo].[ClubInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[ClubLocation] ON 

INSERT [dbo].[ClubLocation] ([clubLocationId], [clubName], [description], [locationId]) VALUES (1, N'Main Clubhouse', N'The main hub for club activities and meetings', 1)
INSERT [dbo].[ClubLocation] ([clubLocationId], [clubName], [description], [locationId]) VALUES (2, N'Forest Watchpoint', N'A scenic location with a view of the birdwatching area', 2)
INSERT [dbo].[ClubLocation] ([clubLocationId], [clubName], [description], [locationId]) VALUES (3, N'Conservation Hub', N'Headquarters for conservation projects and initiatives', 3)
SET IDENTITY_INSERT [dbo].[ClubLocation] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([commentId], [blogId], [vote], [description], [date], [userId]) VALUES (2, 1, 5, N'Great insights into the behaviors of Red-Whiskered Bulbuls!', CAST(N'2023-03-02' AS Date), 101)
INSERT [dbo].[Comment] ([commentId], [blogId], [vote], [description], [date], [userId]) VALUES (3, 1, 4, N'I love observing birds in Central Park. Thanks for sharing!', CAST(N'2023-03-03' AS Date), 102)
INSERT [dbo].[Comment] ([commentId], [blogId], [vote], [description], [date], [userId]) VALUES (4, 2, 3, N'Your gardening tips worked wonders in attracting bulbuls to my garden.', CAST(N'2023-03-06' AS Date), 103)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Contest] ON 

SET IDENTITY_INSERT [dbo].[Contest] OFF
GO
SET IDENTITY_INSERT [dbo].[ContestMedia] ON 

INSERT [dbo].[ContestMedia] ([pictureId], [contestId], [description], [image]) VALUES (1, 1, N'Captivating moments from the Red Bulbul Contest', N'/contest_images/contest_image_1.jpg')
INSERT [dbo].[ContestMedia] ([pictureId], [contestId], [description], [image]) VALUES (2, 1, N'The winning bird in action', N'/contest_images/contest_image_2.jpg')
INSERT [dbo].[ContestMedia] ([pictureId], [contestId], [description], [image]) VALUES (3, 2, N'Contest participants in their natural habitat', N'/contest_images/contest_image_3.jpg')
SET IDENTITY_INSERT [dbo].[ContestMedia] OFF
GO
INSERT [dbo].[ContestParticipants] ([contestId], [birdId], [ELO], [participantNo], [checkInStatus]) VALUES (1, 1, 1600, N'1', N'Checked-In')
INSERT [dbo].[ContestParticipants] ([contestId], [birdId], [ELO], [participantNo], [checkInStatus]) VALUES (1, 2, 1500, N'2', N'Checked-In')
INSERT [dbo].[ContestParticipants] ([contestId], [birdId], [ELO], [participantNo], [checkInStatus]) VALUES (1, 3, 1750, N'3', N'Checked-In')
GO
SET IDENTITY_INSERT [dbo].[ContestScore] ON 

INSERT [dbo].[ContestScore] ([scoreId], [contestId], [birdId], [memberId], [score], [scoreDate], [comment]) VALUES (1, 1, 101, 201, CAST(85.00 AS Decimal(5, 2)), CAST(N'2023-03-01' AS Date), N'Impressive performance by the Robin.')
INSERT [dbo].[ContestScore] ([scoreId], [contestId], [birdId], [memberId], [score], [scoreDate], [comment]) VALUES (2, 1, 102, 202, CAST(92.00 AS Decimal(5, 2)), CAST(N'2023-03-01' AS Date), N'Excellent display by the Blue Jay.')
INSERT [dbo].[ContestScore] ([scoreId], [contestId], [birdId], [memberId], [score], [scoreDate], [comment]) VALUES (3, 2, 103, 203, CAST(78.00 AS Decimal(5, 2)), CAST(N'2023-03-05' AS Date), N'The bird showed some unique behaviors.')
SET IDENTITY_INSERT [dbo].[ContestScore] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedbackId], [userId], [title], [detail], [date], [category], [status]) VALUES (1, 1, N'Fantastic Bulbul Singing Contest', N'The singing contest was amazing. The Red-whiskered Bulbuls'' performances were outstanding.', CAST(N'2023-11-05T00:00:00.000' AS DateTime), N'Contest', N'Positive')
INSERT [dbo].[Feedback] ([feedbackId], [userId], [title], [detail], [date], [category], [status]) VALUES (2, 2, N'Great Meeting with Bird Enthusiasts', N'Had a wonderful time at the meeting. Met some passionate bird lovers.', CAST(N'2023-10-15T00:00:00.000' AS DateTime), N'Meeting', N'Positive')
INSERT [dbo].[Feedback] ([feedbackId], [userId], [title], [detail], [date], [category], [status]) VALUES (3, 3, N'Bulbul Dance-Off Feedback', N'The dance competition was so much fun. The Bulbuls really know how to dance!', CAST(N'2023-11-20T00:00:00.000' AS DateTime), N'Contest', N'Positive')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[FieldTrip] ON 

SET IDENTITY_INSERT [dbo].[FieldTrip] OFF
GO
SET IDENTITY_INSERT [dbo].[FieldtripDaybyDay] ON 

INSERT [dbo].[FieldtripDaybyDay] ([tripId], [daybyDayID], [day], [description], [pictureId]) VALUES (22, 2, 1, N'Arrival and Welcome', N'img001.jpg')
INSERT [dbo].[FieldtripDaybyDay] ([tripId], [daybyDayID], [day], [description], [pictureId]) VALUES (23, 3, 2, N'Morning Birding Session', N'img002.jpg')
INSERT [dbo].[FieldtripDaybyDay] ([tripId], [daybyDayID], [day], [description], [pictureId]) VALUES (24, 4, 3, N'Nature Trail Exploration', N'img003.jpg')
SET IDENTITY_INSERT [dbo].[FieldtripDaybyDay] OFF
GO
SET IDENTITY_INSERT [dbo].[FieldtripGettingThere] ON 

INSERT [dbo].[FieldtripGettingThere] ([tripId], [gettingThereId], [gettingThereText]) VALUES (22, 1, N'Start your journey by boarding the designated bus at the club meeting point.')
INSERT [dbo].[FieldtripGettingThere] ([tripId], [gettingThereId], [gettingThereText]) VALUES (23, 2, N'If traveling by car, take the scenic route through the countryside to reach the field trip destination.')
INSERT [dbo].[FieldtripGettingThere] ([tripId], [gettingThereId], [gettingThereText]) VALUES (24, 3, N'Consider carpooling with fellow bird enthusiasts for a more eco-friendly travel experience.')
SET IDENTITY_INSERT [dbo].[FieldtripGettingThere] OFF
GO
SET IDENTITY_INSERT [dbo].[FieldtripInclusions] ON 

INSERT [dbo].[FieldtripInclusions] ([tripId], [inclusionId], [title], [inclusionText], [type]) VALUES (22, 1, N'Binoculars', N'High-quality binoculars for clear bird observation.', N'Equipment')
INSERT [dbo].[FieldtripInclusions] ([tripId], [inclusionId], [title], [inclusionText], [type]) VALUES (23, 2, N'Field Guide', N'A comprehensive field guide for bird identification.', N'Resource')
INSERT [dbo].[FieldtripInclusions] ([tripId], [inclusionId], [title], [inclusionText], [type]) VALUES (24, 3, N'Snacks and Water', N'Pack snacks and sufficient water for the day.', N'Provision')
SET IDENTITY_INSERT [dbo].[FieldtripInclusions] OFF
GO
SET IDENTITY_INSERT [dbo].[FieldtripMedia] ON 

INSERT [dbo].[FieldtripMedia] ([pictureId], [tripId], [description], [image]) VALUES (1, 22, N'Scenic views from the Red Bulbul Field Trip', N'/fieldtrip_images/fieldtrip_image_1.jpg')
INSERT [dbo].[FieldtripMedia] ([pictureId], [tripId], [description], [image]) VALUES (2, 22, N'Participants enjoying the nature walk', N'/fieldtrip_images/fieldtrip_image_2.jpg')
INSERT [dbo].[FieldtripMedia] ([pictureId], [tripId], [description], [image]) VALUES (3, 23, N'Exploring diverse bird habitats during the field trip', N'/fieldtrip_images/fieldtrip_image_3.jpg')
SET IDENTITY_INSERT [dbo].[FieldtripMedia] OFF
GO
INSERT [dbo].[FieldTripParticipants] ([tripId], [memberId], [participantNo]) VALUES (22, N'1', N'1')
INSERT [dbo].[FieldTripParticipants] ([tripId], [memberId], [participantNo]) VALUES (22, N'2', N'2')
INSERT [dbo].[FieldTripParticipants] ([tripId], [memberId], [participantNo]) VALUES (22, N'3', N'3')
GO
SET IDENTITY_INSERT [dbo].[FieldtripRates] ON 

INSERT [dbo].[FieldtripRates] ([tripId], [rateId], [rateType], [price]) VALUES (22, 1, N'Regular', CAST(120.00 AS Decimal(10, 2)))
INSERT [dbo].[FieldtripRates] ([tripId], [rateId], [rateType], [price]) VALUES (22, 2, N'Member', CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[FieldtripRates] ([tripId], [rateId], [rateType], [price]) VALUES (23, 3, N'Regular', CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[FieldtripRates] OFF
GO
INSERT [dbo].[Gallery] ([pictureId], [description], [userId], [image]) VALUES (NULL, N'Beautiful Red Bulbul in Flight', 101, N'red_bulbul_flight.jpg')
INSERT [dbo].[Gallery] ([pictureId], [description], [userId], [image]) VALUES (NULL, N'Colorful Plumage of the Red Bulbul', 102, N'plumage_colorful.jpg')
INSERT [dbo].[Gallery] ([pictureId], [description], [userId], [image]) VALUES (NULL, N'Close-up of a Red Bulbul Nest', 103, N'nest_closeup.jpg')
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([locationId], [locationName], [description]) VALUES (3, N'Central Park', N'Discover the vibrant Red Bulbul amidst the lush greenery of Central Park. Watch as these agile birds flit through the trees, their striking red plumage adding a burst of color to the urban oasis.')
INSERT [dbo].[Location] ([locationId], [locationName], [description]) VALUES (4, N'Golden Gate Park', N'In the serene surroundings of Golden Gate Park, the Red Bulbul can be spotted darting among the botanical wonders. Their melodious calls harmonize with the peaceful ambiance of this iconic park.')
INSERT [dbo].[Location] ([locationId], [locationName], [description]) VALUES (5, N'Griffith Park', N'Witness the Red Bulbul''s playful antics against the backdrop of Griffith Park''s rugged landscapes. These agile birds are at home in the diverse habitats, adding a touch of nature to the urban setting.')
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Meeting] ON 

INSERT [dbo].[Meeting] ([meetingId], [meetingName], [description], [registrationDeadline], [startDate], [endDate], [numberOfParticipants], [host], [incharge], [note]) VALUES (1, N'Bulbul Enthusiasts Gathering', N'A gathering of Red-whiskered Bulbul enthusiasts to discuss birdwatching and conservation.', CAST(N'2023-10-10T00:00:00.000' AS DateTime), CAST(N'2023-11-01T00:00:00.000' AS DateTime), CAST(N'2023-11-02T00:00:00.000' AS DateTime), 50, N'Bulbul Lovers Club', N'Alice Johnson', N'Don''t forget to bring your binoculars!')
INSERT [dbo].[Meeting] ([meetingId], [meetingName], [description], [registrationDeadline], [startDate], [endDate], [numberOfParticipants], [host], [incharge], [note]) VALUES (2, N'Avian Health Seminar', N'Learn about the health and well-being of Red-whiskered Bulbuls from experts in avian medicine.', CAST(N'2023-10-15T00:00:00.000' AS DateTime), CAST(N'2023-11-05T00:00:00.000' AS DateTime), CAST(N'2023-11-05T00:00:00.000' AS DateTime), 30, N'Bulbul Care Society', N'Dr. Maria Gonzalez', N'Get your bird health questions answered.')
INSERT [dbo].[Meeting] ([meetingId], [meetingName], [description], [registrationDeadline], [startDate], [endDate], [numberOfParticipants], [host], [incharge], [note]) VALUES (3, N'Feathered Friends Meetup', N'Casual meet and greet with fellow bird enthusiasts. Share your bird stories!', CAST(N'2023-11-05T00:00:00.000' AS DateTime), CAST(N'2023-12-01T00:00:00.000' AS DateTime), CAST(N'2023-12-01T00:00:00.000' AS DateTime), 100, N'Bird Lovers Club', N'Emily Wilson', N'A relaxed evening with bird lovers.')
SET IDENTITY_INSERT [dbo].[Meeting] OFF
GO
SET IDENTITY_INSERT [dbo].[MeetingMedia] ON 

INSERT [dbo].[MeetingMedia] ([pictureId], [meetingId], [description], [image]) VALUES (1, 1, N'Memorable moments from the Red Bulbul Club Meeting', N'/meeting_images/meeting_image_1.jpg')
INSERT [dbo].[MeetingMedia] ([pictureId], [meetingId], [description], [image]) VALUES (2, 1, N'Guest speaker sharing insights about bird conservation', N'/meeting_images/meeting_image_2.jpg')
INSERT [dbo].[MeetingMedia] ([pictureId], [meetingId], [description], [image]) VALUES (3, 2, N'Members engaged in a lively discussion', N'/meeting_images/meeting_image_3.jpg')
SET IDENTITY_INSERT [dbo].[MeetingMedia] OFF
GO
INSERT [dbo].[MeetingParticipant] ([meetingId], [memberId], [participantNo]) VALUES (1, N'1', N'1')
INSERT [dbo].[MeetingParticipant] ([meetingId], [memberId], [participantNo]) VALUES (1, N'2', N'2')
INSERT [dbo].[MeetingParticipant] ([meetingId], [memberId], [participantNo]) VALUES (1, N'3', N'3')
GO
INSERT [dbo].[Member] ([memberId], [fullName], [userName], [email], [gender], [role], [address], [phone], [description], [status], [clubId]) VALUES (N'1', N'John Doe', N'john_doe', N'john.doe@email.com', N'Male', N'Observer', N'123 Main St, City', N'555-1234', N'Passionate birdwatcher', N'Active', 1)
INSERT [dbo].[Member] ([memberId], [fullName], [userName], [email], [gender], [role], [address], [phone], [description], [status], [clubId]) VALUES (N'10', N'Sophia Davis', N'sophia_d', N'sophia.d@email.com', N'Female', N'Conservationist', N'777 Oak Ave, City', N'555-3456', N'Wildlife advocate', N'Active', 1)
INSERT [dbo].[Member] ([memberId], [fullName], [userName], [email], [gender], [role], [address], [phone], [description], [status], [clubId]) VALUES (N'2', N'Jane Smith', N'jane_smith', N'jane.smith@email.com', N'Female', N'Photographer', N'456 Oak Ave, Town', N'555-5678', N'Nature photographer', N'Active', 1)
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([newsId], [title], [category], [newsContent], [uploadDate], [status], [picture], [filepdf], [userId]) VALUES (1, N'New Bird Species Discovered', N'Discovery', N'Exciting news about a new bird species found in our region.', CAST(N'2023-01-15T00:00:00.000' AS DateTime), N'Published', N'image1.jpg', N'document1.pdf', 101)
INSERT [dbo].[News] ([newsId], [title], [category], [newsContent], [uploadDate], [status], [picture], [filepdf], [userId]) VALUES (2, N'Upcoming Bird Watching Event', N'Event', N'Join us for a bird watching event on the upcoming weekend.', CAST(N'2023-02-10T00:00:00.000' AS DateTime), N'Published', N'image2.jpg', N'document2.pdf', 102)
INSERT [dbo].[News] ([newsId], [title], [category], [newsContent], [uploadDate], [status], [picture], [filepdf], [userId]) VALUES (3, N'Conservation Success Story', N'Conservation', N'Our efforts in bird conservation have shown positive results.', CAST(N'2023-03-25T00:00:00.000' AS DateTime), N'Draft', N'image3.jpg', N'document3.pdf', 103)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([transactionId], [userId], [transactionType], [value], [paymentDate], [transactionDate], [status], [docNo]) VALUES (1, 101, N'Membership Renewal', CAST(50.00 AS Decimal(10, 2)), CAST(N'2023-01-01' AS Date), CAST(N'2023-01-02' AS Date), N'Completed', N'DOC001')
INSERT [dbo].[Transactions] ([transactionId], [userId], [transactionType], [value], [paymentDate], [transactionDate], [status], [docNo]) VALUES (2, 102, N'Event Registration', CAST(20.00 AS Decimal(10, 2)), CAST(N'2023-02-15' AS Date), CAST(N'2023-02-16' AS Date), N'Completed', N'DOC002')
INSERT [dbo].[Transactions] ([transactionId], [userId], [transactionType], [value], [paymentDate], [transactionDate], [status], [docNo]) VALUES (3, 103, N'Donation', CAST(30.00 AS Decimal(10, 2)), CAST(N'2023-03-10' AS Date), CAST(N'2023-03-11' AS Date), N'Pending', N'DOC003')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
INSERT [dbo].[Users] ([userId], [clubId], [memberId], [userName], [password], [role]) VALUES (1, 1, N'1', N'John Doe', N'password123', N'Manager')
INSERT [dbo].[Users] ([userId], [clubId], [memberId], [userName], [password], [role]) VALUES (2, 1, N'2', N'Jane Smith', N'securepass', N'Admin')
INSERT [dbo].[Users] ([userId], [clubId], [memberId], [userName], [password], [role]) VALUES (3, 2, N'3', N'Robert Johnson', N'pass123', N'Manager')
GO
ALTER TABLE [dbo].[Bird]  WITH CHECK ADD  CONSTRAINT [FK_Bird_Member] FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[Bird] CHECK CONSTRAINT [FK_Bird_Member]
GO
ALTER TABLE [dbo].[BirdMedia]  WITH CHECK ADD  CONSTRAINT [FK_BirdMedia_Bird] FOREIGN KEY([birdId])
REFERENCES [dbo].[Bird] ([birdId])
GO
ALTER TABLE [dbo].[BirdMedia] CHECK CONSTRAINT [FK_BirdMedia_Bird]
GO
ALTER TABLE [dbo].[ContestMedia]  WITH CHECK ADD  CONSTRAINT [FK_Contest] FOREIGN KEY([contestId])
REFERENCES [dbo].[Contest] ([contestId])
GO
ALTER TABLE [dbo].[ContestMedia] CHECK CONSTRAINT [FK_Contest]
GO
ALTER TABLE [dbo].[ContestParticipants]  WITH CHECK ADD  CONSTRAINT [FK__TournamentP__BID__0E6E26BF] FOREIGN KEY([birdId])
REFERENCES [dbo].[Bird] ([birdId])
GO
ALTER TABLE [dbo].[ContestParticipants] CHECK CONSTRAINT [FK__TournamentP__BID__0E6E26BF]
GO
ALTER TABLE [dbo].[ContestParticipants]  WITH CHECK ADD  CONSTRAINT [FK__TournamentP__TID__0D7A0286] FOREIGN KEY([contestId])
REFERENCES [dbo].[Contest] ([contestId])
GO
ALTER TABLE [dbo].[ContestParticipants] CHECK CONSTRAINT [FK__TournamentP__TID__0D7A0286]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([userId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Users]
GO
ALTER TABLE [dbo].[FieldtripDaybyDay]  WITH CHECK ADD  CONSTRAINT [FK_FieldtripDaybyDay_FieldTrip] FOREIGN KEY([tripId])
REFERENCES [dbo].[FieldTrip] ([tripId])
GO
ALTER TABLE [dbo].[FieldtripDaybyDay] CHECK CONSTRAINT [FK_FieldtripDaybyDay_FieldTrip]
GO
ALTER TABLE [dbo].[FieldtripGettingThere]  WITH CHECK ADD  CONSTRAINT [FK_FieldtripGettingThere_FieldTrip] FOREIGN KEY([tripId])
REFERENCES [dbo].[FieldTrip] ([tripId])
GO
ALTER TABLE [dbo].[FieldtripGettingThere] CHECK CONSTRAINT [FK_FieldtripGettingThere_FieldTrip]
GO
ALTER TABLE [dbo].[FieldtripInclusions]  WITH CHECK ADD  CONSTRAINT [FK_FieldtripInclusions_FieldTrip] FOREIGN KEY([tripId])
REFERENCES [dbo].[FieldTrip] ([tripId])
GO
ALTER TABLE [dbo].[FieldtripInclusions] CHECK CONSTRAINT [FK_FieldtripInclusions_FieldTrip]
GO
ALTER TABLE [dbo].[FieldtripMedia]  WITH CHECK ADD  CONSTRAINT [FK_FieldTrip] FOREIGN KEY([tripId])
REFERENCES [dbo].[FieldTrip] ([tripId])
GO
ALTER TABLE [dbo].[FieldtripMedia] CHECK CONSTRAINT [FK_FieldTrip]
GO
ALTER TABLE [dbo].[FieldTripOverview]  WITH CHECK ADD  CONSTRAINT [FK_FieldTripOverview_FieldTrip] FOREIGN KEY([tripId])
REFERENCES [dbo].[FieldTrip] ([tripId])
GO
ALTER TABLE [dbo].[FieldTripOverview] CHECK CONSTRAINT [FK_FieldTripOverview_FieldTrip]
GO
ALTER TABLE [dbo].[FieldTripParticipants]  WITH CHECK ADD  CONSTRAINT [FK__FieldTripPa__FID__1332DBDC] FOREIGN KEY([tripId])
REFERENCES [dbo].[FieldTrip] ([tripId])
GO
ALTER TABLE [dbo].[FieldTripParticipants] CHECK CONSTRAINT [FK__FieldTripPa__FID__1332DBDC]
GO
ALTER TABLE [dbo].[FieldTripParticipants]  WITH CHECK ADD  CONSTRAINT [FK_FieldTripParticipants_Member] FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[FieldTripParticipants] CHECK CONSTRAINT [FK_FieldTripParticipants_Member]
GO
ALTER TABLE [dbo].[FieldtripRates]  WITH CHECK ADD  CONSTRAINT [FK_FieldtripRates_FieldTrip] FOREIGN KEY([tripId])
REFERENCES [dbo].[FieldTrip] ([tripId])
GO
ALTER TABLE [dbo].[FieldtripRates] CHECK CONSTRAINT [FK_FieldtripRates_FieldTrip]
GO
ALTER TABLE [dbo].[MeetingMedia]  WITH CHECK ADD  CONSTRAINT [FK_Meeting] FOREIGN KEY([meetingId])
REFERENCES [dbo].[Meeting] ([meetingId])
GO
ALTER TABLE [dbo].[MeetingMedia] CHECK CONSTRAINT [FK_Meeting]
GO
ALTER TABLE [dbo].[MeetingParticipant]  WITH CHECK ADD  CONSTRAINT [FK__MeetingPar__MeID__03F0984C] FOREIGN KEY([meetingId])
REFERENCES [dbo].[Meeting] ([meetingId])
GO
ALTER TABLE [dbo].[MeetingParticipant] CHECK CONSTRAINT [FK__MeetingPar__MeID__03F0984C]
GO
ALTER TABLE [dbo].[MeetingParticipant]  WITH CHECK ADD  CONSTRAINT [FK_MeetingParticipant_Member] FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[MeetingParticipant] CHECK CONSTRAINT [FK_MeetingParticipant_Member]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Member] FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Member]
GO
USE [master]
GO
