@model dynamic
@{
    Layout = null;
    ViewData["Title"] = "Manager Feedback Page";
    List<BAL.ViewModels.Manager.GetFeedbackResponse> feedbackList = Model.Feedbacks;
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        <div class="main fb-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-lg-2 col-md-6">
                                        <div class="nav flex-column nav-pills mb-3">
                                            <a href="#v-pills-home" data-toggle="pill" class="nav-link active show">
                                                <i class='bx bx-book-content'></i>
                                                <span>All Feedbacks</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-5 col-md-6">
                                        <div class="tab-content">
                                            <div id="v-pills-home" class="tab-pane fade active show">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        @foreach (var feedback in feedbackList)
                                                        {
                                                            <tr>
                                                                <td><div class="star-rating" data-rating="@feedback.Rating"></div></td>
                                                                <td>@feedback.Fullname</td>
                                                                <td>@feedback.Details</td>
                                                                <td>@feedback.Date</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const starContainers = document.querySelectorAll('.star-rating');

            starContainers.forEach(container => {
                const rating = parseFloat(container.getAttribute('data-rating'));
                const fullStars = Math.floor(rating);
                const halfStar = rating % 1 !== 0;
                let starsHtml = '';

                // Add full stars
                for (let i = 0; i < fullStars; i++) {
                    starsHtml += "<i class='bx bxs-star yellow'></i>";
                }

                // Add half star if applicable
                if (halfStar) {
                    starsHtml += "<i class='bx bxs-star-half yellow'></i>";
                }

                // Fill remaining with empty stars to maintain consistent structure
                const emptyStars = 5 - fullStars - (halfStar ? 1 : 0);
                for (let i = 0; i < emptyStars; i++) {
                    starsHtml += "<i class='bx bx-star'></i>";
                }

                container.innerHTML = starsHtml;
            });
        });
    </script>
</body>
</html>