@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<body>
    <div class="GuestHome" style="width: 1440px; height: 2150px; position: relative; background: white">
  <div class="Background" style="width: 1440px; height: 2150px; left: 0px; top: 0px; position: absolute">
    <img class="Subtract" style="width: 1440px; height: 1186px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1440x1186" />
    <div class="Rectangle4" style="width: 1439px; height: 1254px; left: 0px; top: 896px; position: absolute; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0.70) 12%, rgba(255, 255, 255, 0.70) 22%, rgba(255, 255, 255, 0.70) 100%)"></div>
    <div class="Rectangle5" style="width: 1439px; height: 193px; left: 0px; top: 993px; position: absolute; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 8%, white 21%, white 45%, white 100%)"></div>
  </div>
  <div class="Headlines" style="width: 1519px; height: 2230px; left: -76px; top: -80px; position: absolute">
    <div class="Rectangle3" style="width: 1240px; height: 1959px; left: 176px; top: 271px; position: absolute; background: linear-gradient(180deg, white 0%, white 38%, white 52%)"></div>
    <div class="GuestClickScrollEvents" style="width: 1519px; height: 2230px; padding-top: 80px; padding-left: 80px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-end; align-items: center; display: inline-flex">
      <div class="GuestHome" style="width: 1440px; height: 2150px; background: white; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div class="Headlines" style="width: 1440px; height: 2150px; position: relative">
          <div class="Background" style="width: 1440px; height: 2150px; left: 0px; top: 0px; position: absolute">
            <img class="Subtract" style="width: 1440px; height: 1186px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1440x1186" />
            <div class="Rectangle4" style="width: 1439px; height: 1254px; left: 0px; top: 896px; position: absolute; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0.74) 14%, white 29%, white 100%)"></div>
            <div class="Rectangle5" style="width: 1439px; height: 193px; left: 0px; top: 993px; position: absolute; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 8%, white 21%, white 45%, white 100%)"></div>
          </div>
          <div class="Rectangle3" style="width: 1240px; height: 1959px; left: 100px; top: 191px; position: absolute; background: rgba(255, 255, 255, 0.80)"></div>
          <div class="News" style="width: 1150px; height: 967px; left: 145px; top: 834px; position: absolute">
            <div class="Frame15" style="width: 360px; height: 464px; left: 1948px; top: 6px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group9" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="QuangNgaiBirdContest" style="left: 59px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Quang Ngai Bird Contest</div>
                <div class="From12122024To12202024" style="left: 45px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 12-12-2024 to 12-20-2024</div>
                <div class="GatherAllRedWiskeredBulbulBirdsFromAroundQuangNgai" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Gather all Red-wiskered bulbul birds from around quang ngai...</div>
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="Contest" style="left: 120px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Contest</div>
                </div>
                <div class="LocationQuangNgai" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Quang Ngai</span></div>
              </div>
            </div>
            <div class="Frame11" style="width: 360px; height: 464px; left: 1174px; top: 6px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group9" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="QuangNgaiBirdContest" style="left: 59px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Quang Ngai Bird Contest</div>
                <div class="From12122024To12202024" style="left: 45px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 12-12-2024 to 12-20-2024</div>
                <div class="GatherAllRedWiskeredBulbulBirdsFromAroundQuangNgai" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Gather all Red-wiskered bulbul birds from around quang ngai...</div>
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="Contest" style="left: 120px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Contest</div>
                </div>
                <div class="LocationQuangNgai" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Quang Ngai</span></div>
              </div>
            </div>
            <div class="Frame10" style="width: 360px; height: 464px; left: 1561px; top: 6px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group23" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="FieldTrip" style="left: 137px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Field trip</div>
                </div>
                <div class="BidoupBirdWatchingInDalat" style="left: 54px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Bidoup Bird watching in Dalat</div>
                <div class="From11112024To11152024" style="left: 49px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 11-11-2024 to 11-15-2024</div>
                <div class="ExcitingFieldTripInBidoupNationalParkLocatedOnDalat" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Exciting field trip in Bidoup National Park located on Dalat...</div>
                <div class="LocationDalat" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Dalat</span></div>
              </div>
            </div>
            <div class="Frame14" style="width: 360px; height: 464px; left: 1948px; top: 497px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group25" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="FieldTrip" style="left: 137px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Field trip</div>
                </div>
                <div class="CatTienBirdWatchingInDalat" style="left: 50px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Cat tien Bird watching in Dalat</div>
                <div class="From10202024To10222024" style="left: 43px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 10-20-2024 to 10-22-2024</div>
                <div class="ExcitingFieldTripInCatTienNationalParkLocatedOnDalat" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Exciting field trip in Cat tien National Park located on Dalat...</div>
                <div class="LocationDalat" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Dalat</span></div>
              </div>
            </div>
            <div class="Frame8" style="width: 360px; height: 464px; left: 1174px; top: 497px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group25" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="FieldTrip" style="left: 137px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Field trip</div>
                </div>
                <div class="CatTienBirdWatchingInDalat" style="left: 50px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Cat tien Bird watching in Dalat</div>
                <div class="From10202024To10222024" style="left: 43px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 10-20-2024 to 10-22-2024</div>
                <div class="ExcitingFieldTripInCatTienNationalParkLocatedOnDalat" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Exciting field trip in Cat tien National Park located on Dalat...</div>
                <div class="LocationDalat" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Dalat</span></div>
              </div>
            </div>
            <div class="Frame13" style="width: 360px; height: 464px; left: 1561px; top: 497px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group23" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="FieldTrip" style="left: 137px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Field trip</div>
                </div>
                <div class="BidoupBirdWatchingInDalat" style="left: 54px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Bidoup Bird watching in Dalat</div>
                <div class="From11112024To11152024" style="left: 49px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 11-11-2024 to 11-15-2024</div>
                <div class="ExcitingFieldTripInBidoupNationalParkLocatedOnDalat" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Exciting field trip in Bidoup National Park located on Dalat...</div>
                <div class="LocationDalat" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Dalat</span></div>
              </div>
            </div>
            <div class="Frame6" style="width: 360px; height: 464px; left: 785px; top: 6px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group26" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="Meeting" style="left: 139px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Meeting</div>
                </div>
                <div class="ChaomaoNewMemberBirdMeeting" style="left: 25px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">ChaoMao New Member Bird meeting</div>
                <div class="From10282024To10292024" style="left: 43px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 10-28-2024 to 10-29-2024</div>
                <div class="MeetUpWithNewMembersExchangingExperiencesAndIdeas" style="width: 330px; height: 46px; left: 16px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Meet up with new members, exchanging experiences and ideas...</div>
                <div class="LocationHaNoi" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Ha Noi</span></div>
              </div>
            </div>
            <div class="Frame5" style="width: 360px; height: 464px; left: 11px; top: 6px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group9" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="QuangNgaiBirdContest" style="left: 75px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Quang Ngai Bird Contest</div>
                <div class="From12122024To12202024" style="left: 45px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 12-12-2024 to 12-16-2024</div>
                <div class="GatherAllRedWiskeredBulbulBirdsFromAroundQuangNgai" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Gather all Red-wiskered bulbul birds from around quang ngai...</div>
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="Contest" style="left: 141px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Contest</div>
                </div>
                <div class="LocationQuangNgai" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Quang Ngai</span></div>
              </div>
            </div>
            <div class="Frame4" style="width: 360px; height: 464px; left: 398px; top: 6px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group23" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="FieldTrip" style="left: 137px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Field trip</div>
                </div>
                <div class="BidoupBirdWatchingInDalat" style="left: 54px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Bidoup Bird watching in Dalat</div>
                <div class="From11112024To11152024" style="left: 49px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 11-11-2024 to 11-15-2024</div>
                <div class="ExcitingFieldTripInBidoupNationalParkLocatedOnDalat" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Exciting field trip in Bidoup National Park located on Dalat...</div>
                <div class="LocationDalat" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Dalat</span></div>
              </div>
            </div>
            <div class="Frame3" style="width: 360px; height: 464px; left: 785px; top: 497px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group24" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="Meeting" style="left: 139px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Meeting</div>
                </div>
                <div class="ChaomaoNewMemberBirdMeeting" style="left: 25px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">ChaoMao New Member Bird meeting</div>
                <div class="From9202024To9242024" style="left: 52px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 9-20-2024 to 9-24-2024</div>
                <div class="MeetUpWithNewMembersExchangingExperiencesAndIdeas" style="width: 330px; height: 46px; left: 16px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Meet up with new members, exchanging experiences and ideas...</div>
                <div class="LocationHaiPhong" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Hai Phong</span></div>
              </div>
            </div>
            <div class="Frame2" style="width: 360px; height: 464px; left: 11px; top: 497px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group25" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="FieldTrip" style="left: 137px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Field trip</div>
                </div>
                <div class="CatTienBirdWatchingInDalat" style="left: 50px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Cat tien Bird watching in Dalat</div>
                <div class="From10202024To10222024" style="left: 43px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 10-20-2024 to 10-22-2024</div>
                <div class="ExcitingFieldTripInCatTienNationalParkLocatedOnDalat" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Exciting field trip in Cat tien National Park located on Dalat...</div>
                <div class="LocationDalat" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Dalat</span></div>
              </div>
            </div>
            <div class="Frame1" style="width: 360px; height: 464px; left: 398px; top: 497px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div class="Group22" style="width: 360px; height: 464px; position: relative">
                <div class="Rectangle4" style="width: 360px; height: 464px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
                <img class="SoiNoiHoiThiChimChaoMaoHotDauChuyenNghiepChimChaoMao031542616692Width600height4031" style="width: 360px; height: 248px; left: 0px; top: 0px; position: absolute; border: 1px rgba(31.49, 82.87, 0, 0.35) solid" src="https://via.placeholder.com/360x248" />
                <div class="HaiPhongBirdContest" style="left: 81px; top: 265px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; letter-spacing: 0.80px; word-wrap: break-word">Hai Phong Bird Contest</div>
                <div class="From10122024To10202024" style="left: 44px; top: 290px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">From 10-12-2024 to 10-20-2024</div>
                <div class="GatherAllRedWiskeredBulbulBirdsFromAroundQuangNgai" style="width: 330px; height: 46px; left: 15px; top: 361px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Gather all Red-wiskered bulbul birds from around quang ngai...</div>
                <div class="Type" style="width: 360px; height: 55px; left: 0px; top: 409px; position: absolute">
                  <div class="Rectangle2" style="width: 360px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                  <div class="Contest" style="left: 141px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Contest</div>
                </div>
                <div class="LocationHaiPhong" style="width: 106px; height: 42px; left: 127px; top: 315px; position: absolute; text-align: center"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; letter-spacing: 1px; word-wrap: break-word">Location<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; letter-spacing: 0.80px; word-wrap: break-word">Hai Phong</span></div>
              </div>
            </div>
          </div>
          <div class="Buttons" style="width: 1230px; height: 40px; left: 105px; top: 1298px; position: absolute; justify-content: center; align-items: flex-start; gap: 1150px; display: inline-flex">
            <div class="IcBaselineArrowBackIosNew" style="width: 40px; align-self: stretch; padding-top: 3.33px; padding-bottom: 3.33px; padding-left: 10px; padding-right: 10.38px; justify-content: center; align-items: center; display: inline-flex">
              <div class="Vector" style="width: 19.62px; height: 33.33px; background: black"></div>
            </div>
            <div class="IcBaselineArrowBackIosNew" style="width: 40px; align-self: stretch; padding-top: 3.33px; padding-bottom: 3.33px; padding-left: 10px; padding-right: 10.38px; transform: rotate(-180deg); transform-origin: 0 0; justify-content: center; align-items: center; display: inline-flex">
              <div class="Vector" style="width: 19.62px; height: 33.33px; background: black"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="RecentAndUpcomingEventsAndActivities" style="left: 519px; top: 841px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; letter-spacing: 1.20px; word-wrap: break-word">Recent and Upcoming events and activities</div>
    <div class="WelcomeToChaomaoBirdclub" style="left: 311px; top: 312px; position: absolute"><span style="color: black; font-size: 64px; font-family: Inter; font-weight: 700; word-wrap: break-word">Welcome to </span><span style="color: #1F5300; font-size: 64px; font-family: Inter; font-weight: 700; word-wrap: break-word">ChaoMao</span><span style="color: black; font-size: 64px; font-family: Inter; font-weight: 700; word-wrap: break-word"> </span><span style="color: #1F5300; font-size: 64px; font-family: Inter; font-weight: 700; word-wrap: break-word">BirdClub</span></div>
    <div class="LearnMoreButton" style="width: 214px; height: 55px; left: 475px; top: 659px; position: absolute">
      <div class="Rectangle2" style="width: 214px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-radius: 50px"></div>
      <div class="JoinNow" style="left: 58px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Join Now!</div>
    </div>
    <div class="FoundedIn2024ByNguyenVanAChaomaoBirdClubAimsToGatherShareExchangingFunInterestingInformationAboutBirdsAndBirdFansALikeWeAimToCreateABigAndAwesomeBirdLoverCommunityInVietnamAndSoonExpandItFurtherBeyondByBirdLoversForBirdLovers" style="width: 693px; height: 244px; left: 243px; top: 415px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; letter-spacing: 1.20px; word-wrap: break-word">Founded in 2024 by Nguyen Van A, ChaoMao Bird-club aims to gather, share, exchanging fun, interesting information about birds and bird fans a like. We aim to create a big and awesome bird lover community in Vietnam and soon expand it further beyond. By bird lovers, for bird lovers.</div>
    <div class="Video" style="width: 400px; height: 400px; left: 948px; top: 415px; position: absolute">
      <div class="Ellipse1" style="width: 400px; height: 400px; left: 0px; top: 0px; position: absolute; background: linear-gradient(0deg, rgba(226.31, 226.31, 226.31, 0.33) 0%, rgba(226.31, 226.31, 226.31, 0.33) 100%); border-radius: 9999px"></div>
      <div class="Button" style="width: 42.86px; height: 42.86px; left: 178.57px; top: 357.14px; position: absolute">
        <div class="Ellipse2" style="width: 42.86px; height: 42.86px; left: 0px; top: 0px; position: absolute; background: #1F5300; border-radius: 9999px"></div>
        <div class="BxPlay" style="width: 21.43px; height: 21.43px; padding-left: 6.25px; padding-right: 6.25px; padding-top: 5.36px; padding-bottom: 5.36px; left: 12.86px; top: 10.71px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 8.93px; height: 10.71px; background: white"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="Footer" style="width: 1439px; height: 266px; left: -0px; top: 1884px; position: absolute">
    <div class="Rectangle4" style="width: 1439px; height: 266px; left: 0px; top: 0px; position: absolute; background: rgba(31.49, 82.87, 0, 0.35)"></div>
    <div class="2024ChaomaoBirdclub" style="left: 153px; top: 200px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; letter-spacing: 1.20px; word-wrap: break-word">@@2024 ChaoMao BirdClub</div>
    <div class="OtherFanpages" style="width: 147px; height: 30px; left: 1140px; top: 195px; position: absolute">
      <div class="AntDesignInstagramOutlined" style="width: 30px; height: 30px; padding: 3.29px; left: 39px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div class="Vector" style="width: 23.42px; height: 23.42px; background: black"></div>
      </div>
      <div class="BxlFacebook" style="width: 30px; height: 30px; padding-top: 3.75px; padding-bottom: 3.75px; padding-left: 9.16px; padding-right: 9.17px; left: 78px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div class="Vector" style="width: 11.67px; height: 22.50px; background: black"></div>
      </div>
      <div class="AntDesignTwitterOutlined" style="width: 30px; height: 30px; padding-left: 2.81px; padding-right: 2.81px; padding-top: 5.10px; padding-bottom: 5.10px; left: 117px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div class="Vector" style="width: 24.38px; height: 19.80px; background: black"></div>
      </div>
      <div class="AkarIconsLocation" style="width: 30px; height: 30px; padding-left: 5px; padding-right: 5px; padding-top: 2.50px; padding-bottom: 2.50px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div class="Group" style="width: 20px; height: 25px; position: relative">
          <div class="Vector" style="width: 7.50px; height: 7.50px; left: 6.25px; top: 6.25px; position: absolute; border: 1.67px black solid"></div>
          <div class="Vector" style="width: 20px; height: 25px; left: 0px; top: 0px; position: absolute; border: 1.67px black solid"></div>
        </div>
      </div>
    </div>
    <div class="WeWelcomeDonationsInAnyAmountToHelpFundClubInitiativesAndActivitiesSuchAsThePurchaseOfBirdSeedForFeedingBirdsNecessariesForHarmedBirdTreatmentsTheAnnualContestsFieldTripsAndOtherClubEventsThePurchaseOfSuppliesAndToolsForOurVolunteerProjectsEtc" style="width: 1134px; height: 84px; left: 152px; top: 20px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; letter-spacing: 0.80px; word-wrap: break-word">We welcome donations in any amount to help fund club initiatives and activities, such as the purchase of bird seed for feeding birds, necessaries for harmed bird treatments, the annual Contests, Field trips and other club events, the purchase of supplies and tools for our volunteer projects, etc.</div>
    <div class="LearnMoreButton" style="width: 214px; height: 55px; left: 612px; top: 105px; position: absolute">
      <div class="Rectangle2" style="width: 214px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-radius: 50px"></div>
      <div class="Donate" style="left: 71px; top: 16px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Donate</div>
    </div>
  </div>
</div>
</body>
</html>

