@{
    ViewData["Title"] = "Meeting Register Page";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Meeting.css" />
  </head>
  <body>
    <div class="meeting-register">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="background">
            <div class="overlap-group">
              <img class="subtract" src="img/subtract.png" />
              <div class="rectangle"></div>
              <div class="div"></div>
            </div>
          </div>
          <div class="headlines">
            <div class="overlap-2">
              <div class="info">
                <div class="overlap-3">
                  <div class="rectangle-2"></div>
                  <div class="tittle">
                    <div class="div-wrapper"><div class="text-wrapper">Register</div></div>
                  </div>
                  <div class="login">
                    <div class="overlap-group-2"><div class="text-wrapper-2">Register</div></div>
                  </div>
                  <div class="group">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-3">FullName</div>
                      </div>
                    </div>
                  </div>
                  <div class="user-input-wrapper">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-4">Username</div>
                      </div>
                    </div>
                  </div>
                  <div class="group-2">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-5">Gender</div>
                      </div>
                    </div>
                  </div>
                  <div class="group-3">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-6">Email</div>
                      </div>
                    </div>
                  </div>
                  <div class="group-4">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-7">Phone Number</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="video">
                <div class="button"><img class="bx-play" src="img/bx-play.svg" /></div>
              </div>
              <p class="p">Join us for an amazing Bird Lovers Community</p>
            </div>
          </div>
          <p class="chaomao-birdclub">
            <span class="span">ChaoMao </span> <span class="text-wrapper-8">BirdClub</span>
          </p>
          <footer class="footer">
            <div class="overlap-4">
              <div class="rectangle-4"></div>
              <div class="text-wrapper-9">@@2024 ChaoMao BirdClub</div>
              <img class="other-fanpages" src="img/other-fanpages.png" />
              <p class="text-wrapper-10">
                We welcome donations in any amount to help fund club initiatives and activities, such as the purchase of
                bird seed for feeding birds, necessaries for harmed bird treatments, the annual Contests, Field trips
                and other club events, the purchase of supplies and tools for our volunteer projects, etc.
              </p>
              <div class="learn-more-button">
                <div class="overlap-group-2"><div class="text-wrapper-11">Donate</div></div>
              </div>
            </div>
          </footer>
          <div class="navbar">
            <div class="overlap-5">
              <div class="rectangle-5"></div>
              <div class="chaomao-club">ChaoMao <br />Club</div>
              <div class="navbar-2">
                <div class="text-wrapper-12">Meetings</div>
                <div class="overlap-6">
                  <div class="text-wrapper-13">Field trips</div>
                  <div class="guest-contests">
                    <div class="news">
                      <div class="text-wrapper-14">Contests</div>
                      <img class="ic-baseline-arrow" src="img/ic-baseline-arrow-back-ios-new.svg" />
                    </div>
                  </div>
                  <div class="text-wrapper-14">News</div>
                </div>
                <div class="overlap-group-4">
                  <div class="text-wrapper-15">Gallery</div>
                  <img class="guest-button" src="img/guest-button.svg" />
                </div>
                <div class="community-dropdown">
                  <div class="text-wrapper-14">Community</div>
                  <img class="img" src="img/image.svg" />
                </div>
                <div class="text-wrapper-15">Home</div>
              </div>
              <img class="red-whiskered-bulbul" src="img/red-whiskered-bulbul-bird-logo-eps-10-generated-1.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
