@{
    ViewData["Title"] = "Meeting Post Page";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Meeting.css" />
  </head>
  <body>
    <div class="member-meeting-post">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="background">
            <div class="overlap-group">
              <img class="subtract" src="~/images/subtract.png" />
              <div class="rectangle"></div>
              <div class="div"></div>
              <div class="rectangle-2"></div>
            </div>
          </div>
          <div class="headlines">
            <div class="group">
              <div class="overlap-2">
                <img class="img" src="~/images/rectangle-3.svg" />
                <div class="rectangle-3"></div>
                <div class="flexcontainer">
                  <p class="text">
                    <span class="text-wrapper">Content<br /></span>
                  </p>
                  <p class="span-wrapper">
                    <span class="span"
                      >Meet up with new members, exchanging experiences and ideas...Fusce dui est, pellentesque a dolor
                      eu, facilisis aliquam ligula. Integer dignissim pellentesque lacus, et tempor diam volutpat et.
                      Vivamus iaculis nec ante ac laoreet. Pellentesque aliquam dolor vel felis dignissim facilisis.
                      Nullam non fermentum tortor. Aenean hendrerit lacus quis arcu finibus, posuere aliquet magna
                      dictum. Etiam in sapien ligula. Sed a purus sit amet ligula interdum sagittis. Duis fermentum arcu
                      enim, eu hendrerit tortor mollis vitae.Fusce dui est, pellentesque a dolor eu, facilisis aliquam
                      ligula. Integer dignissim pellentesque lacus, et tempor diam volutpat et. Vivamus iaculis nec ante
                      ac laoreet. Pellentesque aliquam dolor vel felis dignissim facilisis. Nullam non fermentum tortor.
                      Aenean hendrerit lacus quis arcu finibus, posuere aliquet magna dictum. Etiam in sapien ligula.
                      Sed a purus sit amet ligula interdum sagittis. Duis fermentum arcu enim, eu hendrerit tortor
                      mollis vitae.Fusce dui est, pellentesque a dolor eu, facilisis aliquam ligula. Integer dignissim
                      pellentesque lacus, et tempor diam volutpat et. Vivamus iaculis nec ante ac laoreet. Pellentesque
                      aliquam dolor vel felis dignissim facilisis. Nullam non fermentum tortor. Aenean hendrerit lacus
                      quis arcu finibus, posuere aliquet magna dictum. Etiam in sapien ligula. Sed a purus sit amet
                      ligula interdum sagittis. Duis fermentum arcu enim, eu hendrerit tortor mollis vitae.</span
                    >
                  </p>
                </div>
                <div class="flexcontainer-2">
                  <p class="text">
                    <span class="text-wrapper">Notes<br /></span>
                  </p>
                  <p class="p">
                    <span class="span"
                      >Meet up with new members, exchanging experiences and ideas...Fusce dui est, pellentesque a dolor
                      eu, facilisis aliquam ligula. Integer dignissim pellentesque lacus, et tempor diam volutpat et.
                      Vivamus iaculis nec ante ac laoreet. Pellentesque aliquam dolor vel felis dignissim facilisis.
                      Nullam non fermentum tortor. Aenean hendrerit lacus quis arcu finibus, posuere aliquet magna
                      dictum.</span
                    >
                  </p>
                </div>
                <div class="QR">
                  <img class="rectangle-4" src="~/images/rectangle-7.png" />
                  <p class="text-wrapper-2">
                    Please save below QR code for scanning at the end of the meeting for check in
                  </p>
                </div>
                <div class="type">
                  <div class="div-wrapper"><div class="text-wrapper-3">Meeting</div></div>
                </div>
                <img
                  class="soi-noi-hoi-thi-chim"
                  src="~/images/soi-noi-hoi-thi-chim-chao-mao-hot-dau-chuyen-nghiep-chim-chao-mao-03-1542616692-width600height403-1.png"
                />
              </div>
            </div>
            <div class="info">
              <div class="overlap-3">
                <div class="rectangle-5"></div>
                <img class="rectangle-6" src="~/images/rectangle-8.png" />
                <div class="tittle">
                  <div class="overlap-group-2"><p class="text-wrapper-4">ChaoMao New Member Bird meeting</p></div>
                </div>
                <div class="text-wrapper-5">From 10-28-2024 to 10-28-2024</div>
                <div class="group-2">
                  <div class="text-wrapper-6">Location</div>
                  <div class="text-wrapper-7">Participation Limit</div>
                  <div class="text-wrapper-8">Registration Deadlines</div>
                  <div class="text-wrapper-9">Contact</div>
                  <div class="text-wrapper-10">Organizer</div>
                </div>
                <div class="group-3">
                  <div class="text-wrapper-11">10-20-2024</div>
                  <p class="text-wrapper-12">H22/183 Hoang Van Thai Street, Thanh Xuan District, Hanoi.</p>
                  <div class="text-wrapper-13">30 Participant</div>
                  <div class="text-wrapper-14">ChaoMaoClub@gmail.com</div>
                  <div class="text-wrapper-15">ChaoMaoClub</div>
                </div>
                <div class="register">
                  <div class="overlap-group-3"><div class="text-wrapper-16">Register</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
