@model BAL.ViewModels.Authenticates.AuthenRequest
@{
	ViewData["Title"] = "Login Page";
}
<!DOCTYPE html>
<!-- saved from url=(0035)https://themewagon.github.io/furni/ -->
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="#">

	<meta name="description" content="">
	<meta name="keywords" content="bootstrap, bootstrap4">

	<!-- Bootstrap CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/register.css" rel="stylesheet">
	<link href="~/css/all.min.css" rel="stylesheet">
	<link href="~/css/tiny-slider.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<title>Login</title>
</head>

<body>
	<div style="background-image: url(~/images/Background.png); background-repeat:no-repeat; background-size: 100% 100%;">
		<!-- Start Header/Navigation -->
		<!-- End Header/Navigation -->
		<!-- Start Hero Section -->
		<!-- <div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
								<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
								<p><a href="https://themewagon.github.io/furni/" class="btn btn-secondary me-2">Shop Now</a><a href="https://themewagon.github.io/furni/#" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="~/images/couch.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div> -->
		<!-- End Hero Section -->
		<!-- End Product Section -->
		<!-- Start Why Choose Us Section -->
			<div class="main-container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<div class="box-container">
							<div class="d-flex justify-content-center box-header light-green">
								<h5><b>Member login</b></h5>
							</div>
							<div class="d-flex box-body justify-content-center">
								<form class="reg-form" asp-action="Authorize" asp-controller="Auth">
									@{
										if (ViewBag.error != null)
										{
											<span class="text-danger">@ViewBag.error</span>
										}
									}
									<div class="form-group">

										<input placeholder="Username" asp-for="Username" class="form-control"/>

										<span asp-validation-for="Username" class="text-danger"></span>
									</div>
									<div class="form-group">

										<input type="password" placeholder="Password" asp-for="Password" class="form-control" />

										<span asp-validation-for="Password" class="text-danger"></span>
									</div>
									<button class="reg-button btn light-green" type="submit" value="Login">Login</button>
									<div class="reg-text">
										New to this ? Join us <a href="@Url.Action("Register","Auth")" class="link-success">Sign up</a>
									</div>
									<div class="reg-text">
										Or Login with
									</div>
									<a href="@Url.Action("GoogleLogin","Auth")">
										<img class="google-icon" img src="~/images/google.png">
									</a>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="write-container">
							<div class="write-title">ChaoMao BirdClub</div>
						</div>
						<div class="write-text">
							Join us for an amazing Bird Lovers Community
						</div>
						<div class="row">
							<div class="d-flex justify-content-center">
								<img class="bird-image" src="~/images/bulbul.jpg">
							</div>
						</div>
					</div>

				</div>
			</div>
		<!-- End Why Choose Us Section -->
		<!-- Start We Help Section -->
		<!-- End We Help Section -->
		<!-- Start Popular Product -->
		<!-- End Popular Product -->
		<!-- Start Testimonial Slider -->
		<!-- End Testimonial Slider -->
		<!-- Start Blog Section -->
		<!-- End Blog Section -->
		<!-- Start Footer Section -->
		@* <footer class="footer-section">
			<div class="container relative">
				<!-- <div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img
										src="~/images/envelope-outline.svg" alt="Image"
										class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							 <form action="https://themewagon.github.io/furni/#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div> -->

				<div class="row g-5 mb-5">
					<!-- <div class="col-lg-4"> -->
					<!-- <div class="mb-4 footer-logo-wrap"><a href="https://themewagon.github.io/furni/#"
							class="footer-logo">Furni<span>.</span></a></div> -->
					<p class="mb-4">
						We welcome donations in any amount to help fund club initiatives and activities,
						such as
						the purchase of bird seed for feeding birds, necessaries for harmed bird treatments, the annual
						Contests, Field trips and other club events, the purchase of supplies and tools for our
						volunteer
						projects, etc.
					</p>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<div>
					<button type="submit" class="btn dark-green">Donate</button>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="d-flex justify-content-between copyright">
						<div>
							<p class="mb-2 text-center text-lg-start">
								Copyright ©
								<script>document.write(new Date().getFullYear());</script> ChaoMao Bird Club
							</p>
						</div>
						<div>
							<ul class="list-unstyled custom-social">
								<li>
									<a href="#">
										<img src="~/images/akar-icons_location.png"
											 class="fa fa-brands"></img>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/images/ant-design_instagram-outlined.png"
											 class="fa fa-brands fa-instagram"></img>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/images/bxl_facebook.png"
											 class="fa fa-brands fa-facebook-f"></img>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/images/ant-design_twitter-outlined.png"
											 class="fa fa-brands fa-twitter"></img>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer> *@
	</div>
</body>

</html>
