@model BAL.ViewModels.Authenticates.AuthenRequest
@{
	ViewData["Title"] = "Login Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- saved from url=(0035)https://themewagon.github.io/furni/ -->
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="#">

	<meta name="description" content="">
	<meta name="keywords" content="bootstrap, bootstrap4">

	<!-- Bootstrap CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/register.css" rel="stylesheet">
	<link href="~/css/all.min.css" rel="stylesheet">
	<link href="~/css/tiny-slider.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- FONT -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100&family=Roboto+Condensed:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="~/fonts/fontawesome-free-5.15.4-web/css/all.min.css">

    <!-- main CSS -->
    <link rel="stylesheet" href="~/css/main.css">
	<title>Login</title>
</head>

<body>
	<div style="background-image: url(~/images/Background.png); background-repeat:no-repeat; background-size: 100% 100%;">
			<div class="main-container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<div class="box-container">
							<div class="d-flex justify-content-center box-header light-green">
								<h5><b>Member login</b></h5>
							</div>
							<div class="d-flex box-body justify-content-center">
								<form class="reg-form" asp-action="Authorize" asp-controller="Auth">
									@{
										if (ViewBag.error != null)
										{
											<span class="text-danger">@ViewBag.error</span>
										}
									}
									<div class="form-group">

										<input placeholder="Username" asp-for="Username" class="form-control"/>

										<span asp-validation-for="Username" class="text-danger"></span>
									</div>
									<div class="form-group">

										<input type="password" placeholder="Password" asp-for="Password" class="form-control" />

										<span asp-validation-for="Password" class="text-danger"></span>
									</div>
									<button class="reg-button btn light-green" type="submit" value="Login">Login</button>
									<div class="reg-text">
										New to this ? Join us <a href="@Url.Action("Register","Auth")" class="link-success">Sign up</a>
									</div>
									<div class="reg-text">
										Or Login with
									</div>
									<a href="@Url.Action("GoogleLogin","Auth")">
										<img class="google-icon" img src="~/images/google.png">
									</a>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="write-container">
							<div class="write-title">ChaoMao BirdClub</div>
						</div>
						<div class="write-text">
							Join us for an amazing Bird Lovers Community
						</div>
						<div class="row">
							<div class="d-flex justify-content-center">
								<img class="bird-image" src="~/images/bulbul.png">
							</div>
						</div>
					</div>

				</div>
			</div>
	</div>
</body>

</html>
