@{
    ViewData["Title"] = "Field Trip Post Getting There Page";
}

<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="~/FieldTrip.css" />
  </head>
  <body>
    <div class="member-field-trip">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="background">
            <div class="overlap-group">
              <img class="subtract" src="img/subtract.png" />
              <div class="rectangle"></div>
              <div class="div"></div>
              <div class="rectangle-2"></div>
            </div>
          </div>
          <div class="headlines">
            <div class="overlap-2">
              <div class="group">
                <div class="overlap-3">
                  <div class="overlap-group-wrapper">
                    <div class="overlap-4">
                      <img class="img" src="img/rectangle-3.svg" />
                      <div class="rectangle-3"></div>
                      <div class="flexcontainer">
                        <p class="text">
                          <span class="text-wrapper">Overview<br /></span>
                        </p>
                        <p class="span-wrapper">
                          <span class="span"
                            >Meet up with new members, exchanging experiences and ideas...Fusce dui est, pellentesque a
                            dolor eu, facilisis aliquam ligula. Integer dignissim pellentesque lacus, et tempor diam
                            volutpat et. Vivamus iaculis nec ante ac laoreet. Pellentesque aliquam dolor vel felis
                            dignissim facilisis. Nullam non fermentum tortor. Aenean hendrerit lacus quis arcu finibus,
                            posuere aliquet magna dictum. Etiam in sapien ligula. Sed a purus sit amet ligula interdum
                            sagittis. Duis fermentum arcu enim, eu hendrerit tortor mollis vitae.Fusce dui est,
                            pellentesque a dolor eu, facilisis aliquam ligula. Integer dignissim pellentesque lacus, et
                            tempor diam volutpat et. Vivamus iaculis nec ante ac laoreet. Pellentesque aliquam dolor vel
                            felis dignissim facilisis. Nullam non fermentum tortor. Aenean hendrerit lacus quis arcu
                            finibus, posuere aliquet magna dictum. Etiam in sapien ligula. Sed a purus sit amet ligula
                            interdum sagittis. Duis fermentum arcu enim, eu hendrerit tortor mollis vitae.Fusce dui est,
                            pellentesque a dolor eu, facilisis aliquam ligula. Integer dignissim pellentesque lacus, et
                            tempor diam volutpat et. Vivamus iaculis nec ante ac laoreet. Pellentesque aliquam dolor vel
                            felis dignissim facilisis. Nullam non fermentum tortor. Aenean hendrerit lacus quis arcu
                            finibus, posuere aliquet magna dictum. Etiam in sapien ligula. Sed a purus sit amet ligula
                            interdum sagittis. Duis fermentum arcu enim, eu hendrerit tortor mollis vitae.</span
                          >
                        </p>
                      </div>
                      <div class="flexcontainer-2">
                        <p class="text">
                          <span class="text-wrapper">Notes<br /></span>
                        </p>
                        <p class="p">
                          <span class="span"
                            >Meet up with new members, exchanging experiences and ideas...Fusce dui est, pellentesque a
                            dolor eu, facilisis aliquam ligula. Integer dignissim pellentesque lacus, et tempor diam
                            volutpat et. Vivamus iaculis nec ante ac laoreet. Pellentesque aliquam dolor vel felis
                            dignissim facilisis. Nullam non fermentum tortor. Aenean hendrerit lacus quis arcu finibus,
                            posuere aliquet magna dictum.</span
                          >
                        </p>
                      </div>
                      <img
                        class="soi-noi-hoi-thi-chim"
                        src="img/soi-noi-hoi-thi-chim-chao-mao-hot-dau-chuyen-nghiep-chim-chao-mao-03-1542616692-width600height403-1.png"
                      />
                      <div class="type">
                        <div class="div-wrapper"><div class="text-wrapper-2">Field Trip</div></div>
                      </div>
                    </div>
                  </div>
                  <div class="rectangle-4"></div>
                  <div class="QR">
                    <img class="rectangle-5" src="img/rectangle-7.png" />
                    <p class="text-wrapper-3">Scan to check in for field trip</p>
                  </div>
                  <div class="tittle">
                    <div class="overlap-5"><div class="text-wrapper-4">Route (Day by day)</div></div>
                  </div>
                  <div class="tittle-2">
                    <div class="overlap-6"><div class="text-wrapper-5">Rates</div></div>
                  </div>
                  <div class="tittle-3">
                    <div class="overlap-7"><div class="text-wrapper-6">Getting there</div></div>
                  </div>
                  <div class="tittle-4">
                    <div class="overlap-6"><div class="text-wrapper-7">Inclusion</div></div>
                  </div>
                  <div class="group-2">
                    <img class="mingcute-warning" src="img/mingcute-warning-line.svg" />
                    <p class="text-wrapper-8">
                      Additional accommodation before and at the end of the tour can be arranged for an extra cost
                    </p>
                  </div>
                  <div class="tittle-5">
                    <div class="overlap-8"><div class="text-wrapper-9">Getting there</div></div>
                  </div>
                  <div class="flexcontainer-3">
                    <p class="text-2">
                      <span class="text-wrapper-10">This trip starts and ends in Da Lat<br /></span>
                    </p>
                    <p class="text-2">
                      <span class="text-wrapper-10"
                        >A transfer from and back to the starting point is included<br
                      /></span>
                    </p>
                    <p class="text-2">
                      <span class="text-wrapper-10"
                        >Additional accommodation before and at the end of the trip can be arranged for an extra
                        cost</span
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="info">
                <div class="overlap-9">
                  <div class="rectangle-6"></div>
                  <img class="rectangle-7" src="img/rectangle-8.png" />
                  <div class="tittle-6">
                    <div class="overlap-group-2"><p class="text-wrapper-11">Bidoup Bird watching in Dalat</p></div>
                  </div>
                  <div class="text-wrapper-12">From 11-11-2024 to 11-15-2024</div>
                  <div class="group-3">
                    <div class="text-wrapper-13">Location</div>
                    <div class="text-wrapper-14">Participation Limit</div>
                    <div class="text-wrapper-15">Registration Deadlines</div>
                    <div class="text-wrapper-16">Contact</div>
                    <div class="text-wrapper-17">Organizer</div>
                    <div class="text-wrapper-18">Registration fee</div>
                  </div>
                  <div class="group-4">
                    <div class="text-wrapper-19">10-30-2024</div>
                    <p class="text-wrapper-20">H22/183 Hoang Van Thai Street, Thanh Xuan District,Dalat.</p>
                    <div class="text-wrapper-21">30 Participant</div>
                    <div class="text-wrapper-22">SaigonTourist@gmail.com</div>
                    <div class="text-wrapper-23">SaigonTourist</div>
                    <div class="text-wrapper-24">5.000.000vnd</div>
                  </div>
                  <div class="register">
                    <div class="overlap-group-3"><div class="text-wrapper-25">Register</div></div>
                  </div>
                  <div class="text-wrapper-26">Route</div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="overlap-10">
              <div class="rectangle-8"></div>
              <div class="text-wrapper-27"> 2024 ChaoMao BirdClub</div>
              <img class="other-fanpages" src="img/other-fanpages.png" />
              <p class="text-wrapper-28">
                We welcome donations in any amount to help fund club initiatives and activities, such as the purchase of
                bird seed for feeding birds, necessaries for harmed bird treatments, the annual Contests, Field trips
                and other club events, the purchase of supplies and tools for our volunteer projects, etc.
              </p>
              <div class="learn-more-button">
                <div class="overlap-group-3"><div class="text-wrapper-29">Donate</div></div>
              </div>
            </div>
          </footer>
          <div class="navbar">
            <div class="overlap-11">
              <div class="rectangle-9"></div>
              <div class="chaomao-club">ChaoMao <br />Club</div>
              <div class="navbar-2">
                <div class="text-wrapper-30">Meetings</div>
                <div class="overlap-group-4">
                  <div class="text-wrapper-31">Field trips</div>
                  <div class="text-wrapper-32">News</div>
                  <div class="guest-contests">
                    <div class="news">
                      <div class="text-wrapper-32">Contests</div>
                      <img class="ic-baseline-arrow" src="img/image.svg" />
                    </div>
                  </div>
                </div>
                <div class="overlap-12">
                  <div class="text-wrapper-33">Gallery</div>
                  <img class="member-button" src="img/member-button.svg" />
                </div>
                <div class="community-dropdown">
                  <div class="text-wrapper-32">Community</div>
                  <img class="ic-baseline-arrow-2" src="img/ic-baseline-arrow-back-ios-new.svg" />
                </div>
                <div class="text-wrapper-33">Home</div>
              </div>
              <img class="red-whiskered-bulbul" src="img/red-whiskered-bulbul-bird-logo-eps-10-generated-1.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
