@{
    ViewData["Title"] = "Field Trip Post Day By Day Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/FieldTrip.css" />
</head>
<body>
    <div class="member-field-trip">
        <div class="div">
            <div class="overlap">
                <div class="background">
                    <div class="overlap-group">
                        <img class="subtract" src="~/images/subtract.png" />
                        <div class="rectangle"></div>
                        <div class="rectangle-2"></div>
                        <div class="rectangle-3"></div>
                    </div>
                </div>
                <div class="headlines">
                    <div class="overlap-2">
                        <div class="overlap-3">
                            <div class="group">
                                <div class="overlap-4">
                                    <img class="img" src="~/images/rectangle-3.svg" />
                                    <div class="rectangle-4"></div>
                                    <div class="flexcontainer">
                                        <p class="text">
                                            <span class="text-wrapper">Overview<br /></span>
                                        </p>
                                        <p class="span-wrapper">
                                            <span class="span">
                                                Meet up with new members, exchanging experiences and ideas...
                                            </span>
                                        </p>
                                    </div>
                                    <div class="pages-2">
                                                <img class="ic-baseline-arrow" src="~/images/ic-baseline-arrow-back-ios-new-10.svg" />
                                                <img class="ic-baseline-arrow-2" src="~/images/ic-baseline-arrow-back-ios-new-11.svg" />
                                                <div class="text-wrapper-18">3</div>
                                                <div class="text-wrapper-19">2</div>
                                                <div class="text-wrapper-20">1</div>
                                            </div>
                                </div>
                            </div>
                            <div class="overlap-wrapper">
                                <div class="overlap-5">
                                    <div class="rectangle-5"></div>
                                    <div class="QR">
                                        <img class="rectangle-6" src="~/images/rectangle-7.png" />
                                        <p class="text-wrapper-3">Scan to check in for field trip</p>
                                    </div>
                                    <div class="pages-2">
                                                <img class="ic-baseline-arrow" src="~/images/ic-baseline-arrow-back-ios-new-10.svg" />
                                                <img class="ic-baseline-arrow-2" src="~/images/ic-baseline-arrow-back-ios-new-11.svg" />
                                                <div class="text-wrapper-18">3</div>
                                                <div class="text-wrapper-19">2</div>
                                                <div class="text-wrapper-20">1</div>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="overlap-10">
                        <div class="rectangle-10"></div>
                        <img class="rectangle-11" src="~/images/rectangle-8-2.png" />
                        <div class="tittle-6">
                            <div class="overlap-group-4">
                                <p class="text-wrapper-32">Bidoup Bird watching in Dalat</p>
                            </div>
                        </div>
                        <div class="text-wrapper-33">From 11-11-2024 to 11-15-2024</div>
                        <div class="group-4">
                            <div class="text-wrapper-34">Location</div>
                            <div class="text-wrapper-35">Participation Limit</div>
                            <div class="text-wrapper-36">Registration Deadlines</div>
                            <div class="text-wrapper-37">Contact</div>
                            <div class="text-wrapper-38">Organizer</div>
                            <div class="text-wrapper-39">Registration fee</div>
                        </div>
                        <div class="group-5">
                            <div class="text-wrapper-40">10-30-2024</div>
                            <p class="text-wrapper-41">H22/183 Hoang Van Thai Street, Thanh Xuan District, Dalat.</p>
                            <div class="text-wrapper-42">30 Participant</div>
                            <div class="text-wrapper-43">SaigonTourist@gmail.com</div>
                            <div class="text-wrapper-44">SaigonTourist</div>
                            <div class="text-wrapper-45">5.000.000vnd</div>
                        </div>
                        <div class="register">
                            <div class="overlap-group-5"><div class="text-wrapper-46">Register</div></div>
                        </div>
                        <div class="text-wrapper-47">Route</div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="overlap-13">
                <div class="rectangle-13"></div>
                <div class="text-wrapper-52">2024 ChaoMao BirdClub</div>
                <img class="other-fanpages" src="~/images/other-fanpages.png" />
                <p class="text-wrapper-53">
                    We welcome donations in any amount to help fund club initiatives and activities, such as the purchase of
                    bird seed for feeding birds, necessaries for harmed bird treatments, the annual Contests, Field trips and
                    other club events, the purchase of supplies and tools for our volunteer projects, etc.
                </p>
                <div class="learn-more-button">
                    <div class="overlap-group-5"><div class="text-wrapper-54">Donate</div></div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>