@{
    ViewData["Title"] = "Field Trip Post Payment Page";
}

<!DOCTYPE html>
<html>
  <body>
    <div style="width: 1240px; height: 1959px; position: relative">
        <div style="width: 1240px; height: 1959px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80)"></div>
        <div style="width: 530px; height: 738px; left: 55px; top: 74px; position: absolute">
            <div style="width: 530px; height: 738px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 25px; border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
            <div style="width: 530px; height: 100px; left: 0px; top: 0px; position: absolute">
                <div style="width: 530px; height: 100px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                <div style="left: 146px; top: 36px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; letter-spacing: 1.20px; word-wrap: break-word">Field Trip Payment</div>
            </div>
          </div>
          <div class="headlines">
            <div class="overlap-2">
              <div class="info">
                <div class="overlap-3">
                  <div class="rectangle-2"></div>
                  <div class="tittle">
                    <div class="div-wrapper"><div class="text-wrapper">Field Trip Payment</div></div>
                  </div>
                  <div class="login">
                    <div class="overlap-group-2"><div class="text-wrapper-2">Checkout</div></div>
                  </div>
                  <div class="group">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-3">Card Number</div>
                      </div>
                    </div>
                  </div>
                  <div class="user-input-wrapper">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-4">Full Name</div>
                      </div>
                    </div>
                  </div>
                  <div class="group-2">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-5">Address</div>
                      </div>
                    </div>
                  </div>
                  <div class="group-3">
                    <div class="overlap-group-wrapper">
                      <div class="overlap-group-3">
                        <div class="rectangle-4"></div>
                        <div class="text-wrapper-6">Expired Date</div>
                      </div>
                    </div>
                  </div>
                  <div class="group-4">
                    <div class="user-input-2">
                      <div class="overlap-group-3">
                        <div class="rectangle-5"></div>
                        <div class="text-wrapper-7">Security Code</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="video">
                <div class="button"><img class="bx-play" src="img/bx-play.svg" /></div>
              </div>
              <p class="p">Join us for an amazing Bird Lovers Community</p>
            </div>
          </div>
          <p class="chaomao-birdclub">
            <span class="span">ChaoMao </span> <span class="text-wrapper-8">BirdClub</span>
          </p>
          <footer class="footer">
            <div class="overlap-4">
              <div class="rectangle-6"></div>
              <div class="text-wrapper-9">@@2024 ChaoMao BirdClub</div>
              <img class="other-fanpages" src="img/other-fanpages.png" />
              <p class="text-wrapper-10">
                We welcome donations in any amount to help fund club initiatives and activities, such as the purchase of
                bird seed for feeding birds, necessaries for harmed bird treatments, the annual Contests, Field trips
                and other club events, the purchase of supplies and tools for our volunteer projects, etc.
              </p>
              <div class="learn-more-button">
                <div class="overlap-group-2"><div class="text-wrapper-11">Donate</div></div>
              </div>
            </div>
          </footer>
          <div class="navbar">
            <div class="overlap-5">
              <div class="rectangle-7"></div>
              <div class="chaomao-club">ChaoMao <br />Club</div>
              <div class="navbar-2">
                <div class="text-wrapper-12">Meetings</div>
                <div class="overlap-6">
                  <div class="text-wrapper-13">Field trips</div>
                  <div class="text-wrapper-14">News</div>
                  <div class="guest-contests">
                    <div class="news">
                      <div class="text-wrapper-14">Contests</div>
                      <img class="ic-baseline-arrow" src="img/image.svg" />
                    </div>
                  </div>
                </div>
                <div class="overlap-group-4">
                  <div class="text-wrapper-15">Gallery</div>
                  <img class="member-button" src="img/member-button.svg" />
                </div>
                <div class="community-dropdown">
                  <div class="text-wrapper-14">Community</div>
                  <img class="img" src="img/ic-baseline-arrow-back-ios-new.svg" />
                </div>
                <div class="text-wrapper-15">Home</div>
              </div>
              <img class="red-whiskered-bulbul" src="img/red-whiskered-bulbul-bird-logo-eps-10-generated-1.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

