@{
    ViewData["Title"] = "Field Trip Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/FieldTrip.css" />
</head>
<body>
    <div class="member-field-trips">
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="background">
                    <div class="overlap-group">
                        <img class="subtract" src="~/images/subtract.png" />
                        <div class="rectangle"></div>
                        <div class="div"></div>
                    </div>
                </div>
                <div class="headlines">
                    <div class="overlap-2">
                        <div class="rectangle-2"></div>
                        <p class="text-wrapper">Recent Field Trips from the club</p>
                        <div class="group">
                            <div class="overlap-3">
                                <div class="rectangle-3"></div>
                                <img class="soi-noi-hoi-thi-chim" src="~/images/image.png" />
                                <div class="type">
                                    <div class="div-wrapper"><div class="text-wrapper-2">Field trip</div></div>
                                </div>
                                <p class="p">Bidoup Bird watching in Dalat</p>
                                <div class="text-wrapper-3">From 11-11-2024 to 11-15-2024</div>
                                <p class="text-wrapper-4">Exciting field trip in Bidoup National Park located on Dalat...</p>
                                <div class="flexcontainer">
                                    <p class="text">
                                        <span class="span">Location<br /></span>
                                    </p>
                                    <p class="text"><span class="text-wrapper-5">Dalat</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Additional field trips groups here -->
                        <!-- ... -->
                        <div class="pages">
                            <img class="ic-baseline-arrow" src="~/images/ic-baseline-arrow-back-ios-new-3.svg" />
                            <img class="img" src="~/images/image.svg" />
                            <div class="element">9</div>
                            <!-- Additional page elements here -->
                            <!-- ... -->
                            <div class="element-5">7</div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="overlap-5">
                        <div class="rectangle-4"></div>
                        <div class="text-wrapper-13">2024 ChaoMao BirdClub</div>
                        <img class="other-fanpages" src="~/images/other-fanpages.png" />
                        <p class="text-wrapper-14">
                            We welcome donations in any amount to help fund club initiatives and activities, such as the purchase of
                            bird seed for feeding birds, necessaries for harmed bird treatments, the annual Contests, Field trips
                            and other club events, the purchase of supplies and tools for our volunteer projects, etc.
                        </p>
                        <div class="learn-more-button">
                            <div class="overlap-group-2"><div class="text-wrapper-15">Donate</div></div>
                        </div>
                    </div>
                </footer>
                <div class="navbar">
                    <div class="overlap-6">
                        <div class="rectangle-5"></div>
                        <div class="chaomao-club">ChaoMao <br />Club</div>
                        <div class="navbar-2">
                            <div class="text-wrapper-16">Meetings</div>
                            <div class="overlap-group-3">
                                <div class="text-wrapper-17">Field trips</div>
                                <div class="text-wrapper-18">News</div>
                                <div class="guest-contests">
                                    <div class="news">
                                        <div class="text-wrapper-18">Contests</div>
                                        <img class="ic-baseline-arrow-2" src="~/images/ic-baseline-arrow-back-ios-new.svg" />
                                    </div>
                                </div>
                            </div>
                            <div class="overlap-7">
                                <div class="text-wrapper-19">Gallery</div>
                                <img class="member-button" src="~/images/member-button.svg" />
                            </div>
                            <div class="community-dropdown">
                                <div class="text-wrapper-18">Community</div>
                                <img class="ic-baseline-arrow-3" src="~/images/ic-baseline-arrow-back-ios-new-2.svg" />
                            </div>
                            <div class="text-wrapper-19">Home</div>
                        </div>
                        <img class="red-whiskered-bulbul" src="~/images/red-whiskered-bulbul-bird-logo-eps-10-generated-1.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>