@{
    ViewData["Title"] = "Field Trip Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/FieldTrip.css" />
</head>
<body>
    <div class="member-field-trips">
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="background">
                    <div class="overlap-group">
                        <img class="subtract" src="~/images/subtract.png" />
                        <div class="rectangle"></div>
                        <div class="div"></div>
                    </div>
                </div>
                <div class="headlines">
                    <div class="overlap-2">
                        <div class="rectangle-2"></div>
                        <p class="text-wrapper">Recent Field Trips from the club</p>
                        <div class="group">
                            <div class="overlap-3">
                                <div class="rectangle-3"></div>
                                <img class="soi-noi-hoi-thi-chim" src="~/images/image.png" />
                                <div class="type">
                                    <div class="div-wrapper"><div class="text-wrapper-2">Field trip</div></div>
                                </div>
                                <p class="p">Bidoup Bird watching in Dalat</p>
                                <div class="text-wrapper-3">From 11-11-2024 to 11-15-2024</div>
                                <p class="text-wrapper-4">Exciting field trip in Bidoup National Park located on Dalat...</p>
                                <div class="flexcontainer">
                                    <p class="text">
                                        <span class="span">Location<br /></span>
                                    </p>
                                    <p class="text"><span class="text-wrapper-5">Dalat</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Additional field trips groups here -->
                        <!-- ... -->
                        <div class="pages">
                            <img class="ic-baseline-arrow" src="~/images/ic-baseline-arrow-back-ios-new-3.svg" />
                            <img class="img" src="~/images/image.svg" />
                            <div class="element">9</div>
                            <!-- Additional page elements here -->
                            <!-- ... -->
                            <div class="element-5">7</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>