@model List<string>
@{
}
<fieldset class="filter-group">
    <legend>Road</legend>
    <div class="checkboxes">
        @foreach (var data in Model)
        {
            <div class="input-group">
                <div class="form-check">
                    <input class="form-check-input road-checkbox" type="checkbox" name="road" id="road_@data.Trim()" value="@data.Trim()">
                    <label class="form-check-label" for="road_@data.Trim()">@data.Trim()</label>
                </div>
            </div>
        }
    </div>
    @if (Model.Count() > 3)
    {
        <button class="toggle-btn btn btn-primary" aria-expanded="false" aria-label="Toggle More"><span>More</span></button>
    }
</fieldset>
