@{
    ViewData["Title"] = "Meeting Register Page";
}

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Meeting.css" />
  </head>
  <body>
    <div class="meeting-register">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="background">
            <div class="overlap-group">
              <img class="subtract" src="~/images/subtract.png" />
              <div class="rectangle"></div>
              <div class="div"></div>
            </div>
          </div>
          <div class="headlines">
            <div class="overlap-2">
              <div class="info">
                <div class="overlap-3">
                  <div class="rectangle-2"></div>
                  <div class="tittle">
                    <div class="div-wrapper"><div class="text-wrapper">Register</div></div>
                  </div>
                  <div class="login">
                    <button class="overlap-group-2">
                       <div class="text-wrapper-2">Register</div>
                    </button>
                  </div>
                  <div class="group">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-3"><input type="text" placeholder="FullName" style="border: none; outline: none; background-color: transparent;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="user-input-wrapper">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-4"><input type="text" placeholder="Username" style="border: none; outline: none; background-color: transparent;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="group-2">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-5"><input type="text" placeholder="Gender" style="border: none; outline: none; background-color: transparent;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="group-3">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-6"><input type="text" placeholder="Email" style="border: none; outline: none; background-color: transparent;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="group-4">
                    <div class="user-input">
                      <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-7"><input type="text" placeholder="Phone Number" style="border: none; outline: none; background-color: transparent;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="ellipse" src="~/images/bird.png"/>
              <p class="p">Join us for an amazing Bird Lovers Community</p>
            </div>
          </div>
          <p class="chaomao-birdclub">
            <span class="span">ChaoMao </span> <span class="text-wrapper-8">BirdClub</span>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
